/* NAVIGATION STUFF GOES HERE  */
nav {

    ul {
        display: flex;
        justify-content: flex-start;
        column-gap: $gutter;
    } // end ul

    ul li a {
        margin: 10px 0
    }

    ul li a:hover {
        text-decoration: underline 2px $accentColor;
    } // end hover
} // end nav

// In medium.scss
.shows-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  header {
    grid-template-columns: 50px auto auto;
    
    .phone-number {
      display: block; /* Show phone number on medium screens */
      justify-self: end;
    }
    
    .mobile-phone-icon {
      display: none; /* Hide phone icon on medium screens */
    }
  }